
  <!-- <img width="75%" height="auto" src="../../../assets/ollang.jpeg" alt="">
  <ul>
    <li><fa-icon class="sidebar-icon" [icon]="faFolderClosed" ></fa-icon> My Job Feed</li>
    <li><fa-icon class="sidebar-icon" [icon]="faMagnifyingGlass" ></fa-icon>Discover Jobs</li>
    <li><fa-icon class="sidebar-icon" [icon]="faBookBookmark" ></fa-icon>Saved Jobs</li>
    <li><fa-icon class="sidebar-icon" [icon]="faEnvelope" ></fa-icon>Proposal</li>
    <li><fa-icon class="sidebar-icon" [icon]="faAddressBook" ></fa-icon>All Contracts</li>
    <li><fa-icon class="sidebar-icon" [icon]="faCircleUser" ></fa-icon>Profile</li>
    <li><fa-icon class="sidebar-icon" [icon]="faMoneyBill1" ></fa-icon>Transaction</li>
    <li><fa-icon class="sidebar-icon" [icon]="faFileLines" ></fa-icon>Reports</li>
  </ul>
 -->
 <img width="75%" height="auto" src="../../../assets/ollang.jpeg" alt="">
 <table>

  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faFolderClosed" [fixedWidth]="true"></fa-icon></td>
    <td >My Job Feed</td>
    <td> </td>
  </tr>

  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faMagnifyingGlass" [fixedWidth]="true"></fa-icon></td>
    <td >Discover Jobs</td>
    <td> </td>
  </tr>
  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faBookBookmark" [fixedWidth]="true"></fa-icon></td>
    <td >Saved Jobs</td>
    <td class="not">26+</td>
  </tr>
  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faEnvelope" [fixedWidth]="true"></fa-icon></td>
    <td>Proposal</td>
    <td> </td>
  </tr>


  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faAddressBook" [fixedWidth]="true"></fa-icon></td>
    <td>All Contracts</td>
    <td> </td>
  </tr>

  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faCircleUser" [fixedWidth]="true"></fa-icon></td>
    <td style="font-weight: 900; color: black;">Profile</td>
    <td class="not" >4+</td>
  </tr>
  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faBookBookmark" [fixedWidth]="true"></fa-icon></td>
    <td >Transaction</td>
    <td> </td>
  </tr>
  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faMoneyBill1" [fixedWidth]="true"></fa-icon></td>
    <td >Transaction</td>
    <td> </td>
  </tr>
  <tr>
    <td><fa-icon class="sidebar-icon" [icon]="faFileLines" [fixedWidth]="true"></fa-icon></td>
    <td >Reports</td>
    <td> </td>
  </tr>
</table>
